test_18
test_23

[bsd_141]
test_23 ansible_host=10.1.0.73

[bsd_141:vars]
ansible_connection=ssh
ansible_user=admin
ansible_python_interpreter=/usr/local/bin/python3.11

[bsd_131]
test_18 ansible_host=10.1.0.18

[bsd_131:vars]
ansible_connection=ssh
ansible_user=admin
ansible_python_interpreter=/usr/local/bin/python3.9
